.App {
  text-align: center;
}

main {
  background-color: saddlebrown;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

h1 {
  margin: 40px auto 0px auto;
  color: bisque;
}

.cellInput {
  width: 8vmin;
  height: 8vmin;
  font-size: 3vmin;
  text-align: center;
  padding: 0;
  border: 1px solid #000;
}

table {
  border-collapse: collapse;
  border: 3px solid bisque;
  background-color: bisque;
  margin-top: 10px;
}

.buttonContainer {
  margin: 20px 0px 40px 0px;
}

.buttonLevel {
  margin: 0px;
}

.easyButton {
  background-color: green;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4vmin;
  font-size: 2.5vmin;
}

.easyButton:hover {
  opacity: 0.8;
}

.easyButton:active {
  background: #3e6ae1;
  color: #fff;
}

.mediumButton {
  background-color: orange;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4vmin;
  font-size: 2.5vmin;
  margin: 0px 40px;
}

.mediumButton:hover {
  opacity: 0.8;
}

.mediumButton:active {
  background: #3e6ae1;
  color: #fff;
}

.expertButton {
  background-color: crimson;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4vmin;
  font-size: 2.5vmin;
}

.expertButton:hover {
  opacity: 0.8;
}

.expertButton:active {
  background: #3e6ae1;
  color: #fff;
}

.newGameButton {
  background-color: bisque;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4vmin;
  font-size: 2.5vmin;
  margin: 20px 0 10px 0;
}

.checkButton {
  background-color: crimson;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4vmin;
  font-size: 2.5vmin;
}

.solveButton {
  background-color: orange;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4vmin;
  font-size: 2.5vmin;
  margin: 0px 40px;
}

.resetButton {
  background-color: green;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4vmin;
  font-size: 2.5vmin;
}

.bBorder {
  border-bottom: 2px solid saddlebrown;
}

.rBorder {
  border-right: 2px solid saddlebrown;
}
